.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.deleteForm {
    display: inline;
}

.formButtons {
    width: 49%;
}

.formInline {
    display: inline;
}

.input-group-addon {
    min-width: 15%;
    max-width: 20%;
}

.input-group {
    width: 100%;
}